<h1>Edit bog</h1>
<%= bootstrap_form_for @creature do |c| %>
<div>
	<!-- <%= c.label :name %> -->
	<%= c.text_field :name %>
</div>

<div>
	<!-- <%= c.label :description %> -->
	<%= c.text_area :description %>
</div>

<%= c.submit "Save" %>
<% end %>